.proyecto(ng-init="obtenerProyecto()")
    div(layout="row")
        .navegador(flex="10")
            .navegador-container
                md-card
                    md-button(ui-sref="proyecto.info")
                        md-icon info
                    md-divider
                    md-button(ui-sref="proyecto.eventos")
                        md-icon date_range
                    md-divider
                    md-button(ui-sref="proyecto.ubicaciones")
                        md-icon location_on
                    md-divider
                    md-button(ui-sref="proyecto.materiales")
                        md-icon build
                    md-divider
                    md-button(ui-sref="proyecto.imagenes")
                        md-icon photo
                md-card
                    md-button(md-colors="{background: 'red'}" ng-click="eliminarProyecto(id)")
                        md-icon clear
        div(flex="90" layout="column")
            main(ui-view="main")
