.editarcampana
    md-card
        md-toolbar
            .md-toolbar-tools
                h4 Editar Programa
                span(flex)
                md-button(ng-click="editar = !editar")
                    md-icon edit
                md-button(md-colors="{background: 'red'}" ng-click="eliminarCampana(id)")
                    md-icon clear
        form(ng-submit="editarCampana(campanas)" layout="column")
            md-input-container(flex)
                label Cambiar Nombre
                input(ng-model="campanas.nombre" ng-disabled="!editar")
            md-input-container(flex)
                label Cambiar Descripcion
                input(ng-model="campanas.descripcion"  ng-disabled="!editar")
            md-input-container(flex)
                label Cambiar Fecha
                md-datepicker(ng-model="campanas.fecha"  ng-disabled="!editar")
            md-button(type="submit" ng-if="editar" md-colors="{background: 'green'}")
                md-icon save
            img(ng-src="{{campana.logo}}")
